# Oracle Database
ORACLE_USER=seu_usuario
ORACLE_PASSWORD=sua_senha
ORACLE_HOST=oracle.fiap.com.br
ORACLE_PORT=1521
ORACLE_SERVICE=orcl

# API da IA
NEURON_API_BASE_URL=https://neuron-ai-v1yi.onrender.com
# NEURON_API_ANALISE_PATH=/conversas/analisar
NEURON_API_KEY=
NEURON_API_TIMEOUT=15
