# Oracle Database
ORACLE_USER=seu_usuario
ORACLE_PASSWORD=sua_senha
ORACLE_HOST=oracle.fiap.com.br
ORACLE_PORT=1521
ORACLE_SERVICE=orcl

# API da IA (sempre use o domínio ativo do Render ou localhost para testes)
NEURON_API_BASE_URL=http://localhost:5000
NEURON_API_ANALISE_PATH=/conversas/analisar
NEURON_API_KEY=
NEURON_API_TIMEOUT=15
