# Ambientes e dependências locais
.venv/
env/
*.pyc
__pycache__/
exports/

# Arquivos de configuração sensíveis
.env
.env.*
!.env.example

# Sistemas operacionais/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
